{% extends 'base.html.twig' %}

{% block body %}
  {% block content %}
    <div class="">
      <h2 class="mt-3 text-center">{% trans %}Welcome to Videogamehorses !
        {% endtrans %}</h2>

      <p>
        {% trans %}
        On this website you will find a
        <b>
          different
        </b>
        kind of videogame reviews. Because they are based on horses !
        <br>
        You should go to the
        <a href="/about">about section</a>
        if you want to find out why I did this.
        <br>
        Below, you will find the latest reviews I published.
        {% endtrans %}
      </p>

      <div class="grid grid-cols-2">
        {% for article in articles %}
          {% if loop.first %}
            <div class="article--card card--first col-span-2">
              <img src="/uploads/files/{{article.thumbnail}}" alt="{{article.titre}}">
              <a href="{{path('article_show',{id:article.id})}}">
                <h3>{{article.titre}}</h3>
              </a>
              <div>
                <p>{{article.introduction}}</p>
              </div>
            {% else %}
              <div class="article--card">

                <img src="/uploads/files/{{article.thumbnail}}" alt="{{article.titre}}">
                <a href="{{path('article_show',{id:article.id})}}">
                  <h3>{{article.titre}}</h3>
                </a>
              {% endif %}
            </div>

          {% endfor %}
        </div>
      </div>
    {% endblock %}
  {% endblock %}
