{% extends 'base.html.twig' %}

{% block body %}
  {% block content %}
    <h1>{{article.titre}}</h1>
    <div class="article--image">
      <img src="/uploads/files/{{article.thumbnail}}" alt="{{article.titre}}">
    </div>
    <p class="article--introduction">{{article.introduction}}</p>

    <div class="article--content">
      {{article.contenu|raw}}</div>

    <p class="article--note">
      {% trans %}Rating :{% endtrans %}
      <span>{{article.note}}</span>
      {% trans %}out of 5{% endtrans %}
    </p>

    <hr>
    <h2>{% trans %}Comment section{% endtrans %}</h2>

    {% for comment in article.comments %}

      <div class="commentaire-solo">
        <h3>{{comment.author}}</h3>
        {{comment.content}}
      </div>
    {% endfor %}

    {% if app.user %}
      <div class="comment-form">
        {{form_start(commentForm)}}
        {{form_row(commentForm.author)}}
        {{form_row(commentForm.content)}}
        <button type="submit" class="btn btn--primary">{% trans %}Send comment{% endtrans %}</button>
        {{form_end(commentForm)}}
      </div>
    {% else %}
      <div>
        <h3>{% trans %}You can't comment if you're not logged in{% endtrans %}</h3>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
